<header>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="img-responsive" src="/images/nkraft.jpg"/>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-inline">
                                <li><a class="btn btn-social-icon btn-email" href="mailto:nicholas.a.kraft@us.abb.com"><i class="fa fa-envelope"></i></a></li>

                                <li class="social-icon"><a class="btn btn-social-icon btn-dblp" href="http://www.informatik.uni-trier.de/~ley/pers/hd/k/Kraft:Nicholas_A=.html"><img src="/images/dblp.png"/></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-github" href="https://github.com/nkraft"><i class="fa fa-github"></i></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-linkedin" href="https://linkedin.com/in/nicholasakraft"><i class="fa fa-linkedin"></i></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-scholar" href="http://scholar.google.com/citations?user=D2tG1ZMAAAAJ"><img src="/images/scholar-32.png"/></a></li>
                                <li class="social-icon"><a class="btn btn-social-icon btn-twitter" href="https://twitter.com/nicholasakraft"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div>&nbsp;</div> -->
                            <p>I am a software researcher at <a href="http://www.abb.com/cawp/abbzh254/28e44b375d070ae2c1256b5700521b84.aspx">ABB Corporate Research</a> in Raleigh, North Carolina. Previously, I was an assistant then tenured associate professor in the <a href="http://www.cs.ua.edu">Department of Computer Science</a> at <a href="http://www.ua.edu">The University of Alabama</a> in Tuscaloosa. [<a href="/nkraft_cv.pdf">CV</a>]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>&nbsp;</div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="list-group-item-heading">Editorial Board</span>
                                    <span class="list-group-item-text">
                                        for
                                        <a href="https://www.computer.org/software-magazine/">IEEE Software</a>,
                                        <a href="https://www.journals.elsevier.com/journal-of-systems-and-software/">Journal of Systems and Software</a>
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="list-group-item-heading">Steering Committee</span>
                                    <span class="list-group-item-text">
                                        for
                                        <a href="http://conferences.computer.org/icsm/">ICSME</a>
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="list-group-item-heading">PC member</span>
                                    <span class="list-group-item-text">
                                        for
                                        <a href="https://esec-fse19.ut.ee/calls/industry-papers/">ESEC/FSE'19 Industry</a>,
                                        <a href="http://www.ase2018.com/">ASE'18</a>,
                                        <a href="https://2018.fseconference.org/track/fse-2018-NIER">ESEC/FSE'18 NIER</a>,
                                        <a href="https://icsme2018.github.io/">ICSME'18</a>,
                                        <a href="https://2018.msrconf.org/">MSR'18</a>
                                    </span>
                                </li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="list-group-item-heading">Recent papers</span>
                                    <span class="list-group-item-text">
                                        at
                                        <a href="https://www.computer.org/web/tse">TSE</a>,
                                        <a href="http://www.ieee-scam.org/2018/">SCAM'18</a>,
                                        <a href="https://2018.msrconf.org/">MSR'18</a>,
                                        <a href="https://link.springer.com/journal/10664">EMSE</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
