<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <span class="navbar-brand-name">{{site.title}}</span>
                <div class="navbar-brand-info">
                    <span class="navbar-brand-title">Principal Scientist</span>
                    <span class="navbar-brand-at">@</span>
                    <img class="navbar-brand-abb" src="/images/abb.gif" height="14px"/>
                </div>
            </div>
        </div>
    </div>
</nav>

