
<div class="row header">
    <div class="col-pub-header">2014</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Using Structured Queries for Source Code Search</span><br>
            <span class="pub-author">B.P. Eddy, N.A. Kraft</span><br>
            <span class="pub-venue">30th IEEE International Conference on Software Maintenance and Evolution (ICSME'14)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICSME.2014.68" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Eddy_Kraft:2014,
  author    = {B.P. Eddy and N.A. Kraft},
  title     = {Using Structured Queries for Source Code Search},
  booktitle = {Proceedings of the 30th IEEE International Conference on Software Maintenance and Evolution (ICSME'14)},
  pages     = {431--435},
  month     = sep # "\slash " # oct,
  year      = 2014,
  doi       = {10.1109/ICSME.2014.68},
  location  = {Victoria, BC, Canada},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Modeling Changeset Topics</span><br>
            <span class="pub-author">C.S. Corley, K.L. Kashuda, D.S. May, N.A. Kraft</span><br>
            <span class="pub-venue">4th IEEE Workshop on Mining Unstructured Data (MUD'14)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/MUD.2014.9" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Corley_etal:2014,
  author    = {C.S. Corley and K.L. Kashuda and D.S. May and N.A. Kraft},
  title     = {Modeling Changeset Topics},
  booktitle = {Proceedings of the 4th IEEE Workshop on Mining Unstructured Data (MUD'14)},
  pages     = {6--10},
  month     = sep,
  year      = 2014,
  doi       = {10.1109/MUD.2014.9},
  location  = {Victoria, BC, Canada},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">A Framework for Estimating Interest on Technical Debt by Monitoring Developer Activity Related to Code Comprehension</span><br>
            <span class="pub-author">V. Singh, W.B. Snipes, N.A. Kraft</span><br>
            <span class="pub-venue">6th IEEE International Workshop on Managing Technical Debt (MTD'14)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/MTD.2014.16" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Singh_etal:2014,
  author    = {V. Singh and W.B. Snipes and N.A. Kraft},
  title     = {A Framework for Estimating Interest on Technical Debt by Monitoring Developer Activity Related to Code Comprehension},
  booktitle = {Proceedings of the 6th IEEE International Workshop on Managing Technical Debt (MTD'14)},
  pages     = {27--30},
  month     = sep,
  year      = 2014,
  doi       = {10.1109/MTD.2014.16},
  location  = {Victoria, BC, Canada},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Configuring latent Dirichlet allocation based feature location</span><br>
            <span class="pub-author">L.R. Biggers, C. Bocovich, R. Capshaw, B.P. Eddy, L.H. Etzkorn, N.A. Kraft</span><br>
            <span class="pub-venue">Empirical Software Engineering</span><br>
        </div>
        <a href="http://dx.doi.org/10.1007/s10664-012-9224-x" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Biggers_etal:2014,
  author    = {L.R. Biggers and C. Bocovich and R. Capshaw and B.P. Eddy and L.H. Etzkorn and N.A. Kraft},
  title     = {Configuring latent {D}irichlet allocation based feature location},
  journal   = {Empirical Software Engineering},
  volume    = 19,
  number    = 3,
  pages     = {465--500},
  month     = jun,
  year      = 2014,
  doi       = {10.1007/s10664-012-9224-x},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">New features for duplicate bug detection</span><br>
            <span class="pub-author">N. Klein, C.S. Corley, N.A. Kraft</span><br>
            <span class="pub-venue">11th Working Conference on Mining Software Repositories (MSR'14)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1145/2597073.2597090" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Klein_etal:2014,
  author    = {N. Klein and C.S. Corley and N.A. Kraft},
  title     = {New features for duplicate bug detection},
  booktitle = {Proceedings of the 11th Working Conference on Mining Software Repositories (MSR'14)},
  pages     = {324--327},
  month     = may # "\slash " # jun,
  year      = 2014,
  doi       = {10.1145/2597073.2597090},
  location  = {Hyderabad, India},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Outcomes of a community workshop to identify and rank barriers to the systematic literature review process</span><br>
            <span class="pub-author">E. Hassler, J.C. Carver, N.A. Kraft, D.P. Hale</span><br>
            <span class="pub-venue">18th International Conference on Evaluation and Assessment in Software Engineering (EASE'14)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1145/2601248.2601274" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Hassler_etal:2014,
  author    = {E. Hassler and J.C. Carver and N.A. Kraft and D.P. Hale},
  title     = {Outcomes of a community workshop to identify and rank barriers to the systematic literature review process},
  booktitle = {Proceedings of the 18th International Conference on Evaluation and Assessment in Software Engineering (EASE'14)},
  month     = may,
  year      = 2014,
  doi       = {10.1145/2601248.2601274},
  location  = {London, UK},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2013</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Effects of cloned code on software maintainability: A replicated developer study</span><br>
            <span class="pub-author">D. Chatterji, J.C. Carver, N.A. Kraft, J. Harder</span><br>
            <span class="pub-venue">20th Working Conference on Reverse Engineering (WCRE'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/WCRE.2013.6671286" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Chatterji_etal:2013a,
  author    = {D. Chatterji and J.C. Carver and N.A. Kraft and J. Harder},
  title     = {Effects of cloned code on software maintainability: A replicated developer study},
  booktitle = {Proceedings of the 20th Working Conference on Reverse Engineering (WCRE'13)},
  pages     = {112--121},
  month     = oct,
  year      = 2013,
  doi       = {10.1109/WCRE.2013.6671286},
  location  = {Koblenz, Germany},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Identifying Barriers to the Systematic Literature Review Process</span><br>
            <span class="pub-author">J.C. Carver, E. Hassler, E. Hernandes, N.A. Kraft</span><br>
            <span class="pub-venue">7th ACM/IEEE International Symposium on Empirical Software Engineering and Measurement (ESEM'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ESEM.2013.28" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Carver_etal:2013,
  author    = {J.C. Carver and E. Hassler and E. Hernandes and N.A. Kraft},
  title     = {Identifying Barriers to the Systematic Literature Review Process},
  booktitle = {Proceedings of the 7th ACM/IEEE International Symposium on Empirical Software Engineering and Measurement (ESEM'13)},
  pages     = {203--212},
  month     = oct,
  year      = 2013,
  doi       = {10.1109/ESEM.2013.28},
  location  = {Baltimore, MD, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Structural information based term weighting in text retrieval for feature location</span><br>
            <span class="pub-author">B. Bassett, N.A. Kraft</span><br>
            <span class="pub-venue">21st IEEE International Conference on Program Comprehension (ICPC'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICPC.2013.6613841" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Bassett_Kraft:2013,
  author    = {B. Bassett and N.A. Kraft},
  title     = {Structural information based term weighting in text retrieval for feature location},
  booktitle = {Proceedings of the 21st IEEE International Conference on Program Comprehension (ICPC'13)},
  pages     = {133--141},
  month     = may,
  year      = 2013,
  doi       = {10.1109/ICPC.2013.6613841},
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Evaluating source code summarization techniques: Replication and expansion</span><br>
            <span class="pub-author">B.P. Eddy, J.A. Robinson, N.A. Kraft, J.C. Carver</span><br>
            <span class="pub-venue">21st IEEE International Conference on Program Comprehension (ICPC'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICPC.2013.6613829" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Eddy_etal:2013,
  author    = {B.P. Eddy and J.A. Robinson and N.A. Kraft and J.C. Carver},
  title     = {Evaluating source code summarization techniques: Replication and expansion},
  booktitle = {Proceedings of the 21st IEEE International Conference on Program Comprehension (ICPC'13)},
  pages     = {13--22},
  month     = may,
  year      = 2013,
  doi       = {10.1109/ICPC.2013.6613829},
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Building reputation in StackOverflow: An empirical investigation</span><br>
            <span class="pub-author">A.S. Bosu, C.S. Corley, D. Heaton, D. Chatterji, J.C. Carver, N.A. Kraft</span><br>
            <span class="pub-venue">10th IEEE Working Conference on Mining Software Repositories (MSR'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/MSR.2013.6624013" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Bosu_etal:2013,
  author    = {A.S. Bosu and C.S. Corley and D. Heaton and D. Chatterji and J.C. Carver and N.A. Kraft},
  title     = {Building reputation in {StackOverflow}: An empirical investigation},
  booktitle = {Proceedings of the 10th IEEE Working Conference on Mining Software Repositories (MSR'13)},
  pages     = {89--92},
  month     = may,
  year      = 2013,
  doi       = {10.1109/MSR.2013.6624013},
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Cloning: The need to understand developer intent</span><br>
            <span class="pub-author">D. Chatterji, J.C. Carver, N.A. Kraft</span><br>
            <span class="pub-venue">7th International Workshop on Software Clones (IWSC'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/IWSC.2013.6613036" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Chatterji_etal:2013b,
  author    = {D. Chatterji and J.C. Carver and N.A. Kraft},
  title     = {Cloning: The need to understand developer intent},
  booktitle = {Proceedings of the 7th International Workshop on Software Clones (IWSC'13)},
  pages     = {14--15},
  month     = may,
  year      = 2013,
  doi       = {10.1109/IWSC.2013.6613036},
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Clone evolution: a systematic review</span><br>
            <span class="pub-author">J.R. Pate, R. Tairas, N.A. Kraft</span><br>
            <span class="pub-venue">Journal of Software: Evolution and Process</span><br>
        </div>
        <a href="http://dx.doi.org/10.1002/smr.579" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Pate_etal:2013,
  author    = {J.R. Pate and R. Tairas and N.A. Kraft},
  title     = {Clone evolution: a systematic review},
  journal   = {Journal of Software: Evolution and Process},
  volume    = 25,
  number    = 3,
  pages     = {261--283},
  month     = mar,
  year      = 2013,
  doi       = {10.1002/smr.579},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2012</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Modulo-F: A Modularization Language for FORTRAN Programs</span><br>
            <span class="pub-author">F. Jacob, S. Yue, J. Gray, N.A. Kraft</span><br>
            <span class="pub-venue">Journal of Convergence Information Technology</span><br>
        </div>
        <a href="http://dx.doi.org/10.4156/jcit.vol7.issue12.29" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Jacob_etal:2012,
  author    = {F. Jacob and S. Yue and J. Gray and N.A. Kraft},
  title     = {&#123;Modulo-F&#125;: A Modularization Language for {FORTRAN} Programs},
  journal   = {Journal of Convergence Information Technology},
  volume    = 7,
  number    = 12,
  pages     = {256--263},
  month     = jul,
  year      = 2012,
  doi       = {10.4156/jcit.vol7.issue12.29},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Modeling the ownership of source code topics</span><br>
            <span class="pub-author">C.S. Corley, E.A. Kammer, N.A. Kraft</span><br>
            <span class="pub-venue">20th IEEE International Conference on Program Comprehension (ICPC'12)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICPC.2012.6240485" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Corley_etal:2012,
  author    = {C.S. Corley and E.A. Kammer and N.A. Kraft},
  title     = {Modeling the ownership of source code topics},
  booktitle = {Proceedings of the 20th IEEE International Conference on Program Comprehension (ICPC'12)},
  pages     = {173--182},
  month     = jun,
  year      = 2012,
  doi       = {10.1109/ICPC.2012.6240485},
  location  = {Passau, Germany},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Claims and beliefs about code clones: Do we agree as a community? A survey</span><br>
            <span class="pub-author">D. Chatterji, J.C. Carver, N.A. Kraft</span><br>
            <span class="pub-venue">6th International Workshop on Software Clones (IWSC'12)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/IWSC.2012.6227860" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Chatterji_etal:2012,
  author    = {D. Chatterji and J.C. Carver and N.A. Kraft},
  title     = {Claims and beliefs about code clones: Do we agree as a community? A survey},
  booktitle = {Proceedings of the 6th International Workshop on Software Clones (IWSC'12)},
  pages     = {15--21},
  month     = jun,
  year      = 2012,
  doi       = {10.1109/IWSC.2012.6227860},
  location  = {Zurich, Switzerland},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">A Genetic Algorithm for Computing Class Integration Test Orders for Aspect-Oriented Systems</span><br>
            <span class="pub-author">R. Delamare, N.A. Kraft</span><br>
            <span class="pub-venue">5th IEEE International Conference on Software Testing (ICST'12)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICST.2012.179" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Delamare_Kraft:2012,
  author    = {R. Delamare and N.A. Kraft},
  title     = {A Genetic Algorithm for Computing Class Integration Test Orders for Aspect-Oriented Systems},
  booktitle = {Proceedings of the 5th IEEE International Conference on Software Testing (ICST'12)},
  pages     = {804--813},
  month     = apr,
  year      = 2012,
  doi       = {10.1109/ICST.2012.179},
  location  = {Montreal, QC, Canada},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Combining lexical and structural information for static bug localisation</span><br>
            <span class="pub-author">P. Shao, T. Atkison, N.A. Kraft, R.K. Smith</span><br>
            <span class="pub-venue">International Journal of Computer Applications in Technology</span><br>
        </div>
        <a href="http://dx.doi.org/10.1504/IJCAT.2012.048208" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Shao_etal:2012,
  author    = {P. Shao and T. Atkison and N.A. Kraft and R.K. Smith},
  title     = {Combining lexical and structural information for static bug localisation},
  journal   = {International Journal of Computer Applications in Technology},
  volume    = 44,
  number    = 1,
  pages     = {61--71},
  year      = 2012,
  doi       = {10.1504/IJCAT.2012.048208},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2011</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Measuring the Accuracy of Information Retrieval Based Bug Localization Techniques</span><br>
            <span class="pub-author">M.D. Beard, N.A. Kraft, L.H. Etzkorn, S.K. Lukins</span><br>
            <span class="pub-venue">18th Working Conference on Reverse Engineering (WCRE'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/WCRE.2011.23" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Beard_etal:2011,
  author    = {M.D. Beard and N.A. Kraft and L.H. Etzkorn and S.K. Lukins},
  title     = {Measuring the Accuracy of Information Retrieval Based Bug Localization Techniques},
  booktitle = {Proceedings of the 18th Working Conference on Reverse Engineering (WCRE'11)},
  pages     = {124--128},
  month     = oct,
  year      = 2011,
  doi       = {10.1109/WCRE.2011.23},
  location  = {Limerick, Ireland},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Toward a metrics suite for source code lexicons</span><br>
            <span class="pub-author">L.R. Biggers, B.P. Eddy, N.A. Kraft, L.H. Etzkorn</span><br>
            <span class="pub-venue">27th IEEE International Conference on Software Maintenance (ICSM'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICSM.2011.6080816" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Biggers_etal:2011,
  author    = {L.R. Biggers and B.P. Eddy and N.A. Kraft and L.H. Etzkorn},
  title     = {Toward a metrics suite for source code lexicons},
  booktitle = {Proceedings of the 27th IEEE International Conference on Software Maintenance (ICSM'11)},
  pages     = {492--495},
  month     = sep,
  year      = 2011,
  doi       = {10.1109/ICSM.2011.6080816},
  location  = {Williamsburg, VA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Measuring the Efficacy of Code Clone Information in a Bug Localization Task: An Empirical Study</span><br>
            <span class="pub-author">D. Chatterji, J.C. Carver, B. Massengil, J. Oslin, N.A. Kraft</span><br>
            <span class="pub-venue">5th International Symposium on Empirical Software Engineering and Measurement (ESEM'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ESEM.2011.10" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Chatterji_etal:2011,
  author    = {D. Chatterji and J.C. Carver and B. Massengil and J. Oslin and N.A. Kraft},
  title     = {Measuring the Efficacy of Code Clone Information in a Bug Localization Task: An Empirical Study},
  booktitle = {Proceedings of the 5th International Symposium on Empirical Software Engineering and Measurement (ESEM'11)},
  pages     = {20--29},
  month     = sep,
  year      = 2011,
  doi       = {10.1109/ESEM.2011.10},
  location  = {Banff, AB, Canada},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Evaluating the testing ability of senior-level computer science students</span><br>
            <span class="pub-author">J.C. Carver, N.A. Kraft</span><br>
            <span class="pub-venue">24th IEEE-CS Conference on Software Engineering Education and Training (CSEE\&T'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/CSEET.2011.5876084" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Carver_Kraft:2011,
  author    = {J.C. Carver and N.A. Kraft},
  title     = {Evaluating the testing ability of senior-level computer science students},
  booktitle = {Proceedings of the 24th IEEE-CS Conference on Software Engineering Education and Training (CSEE\&T'11)},
  pages     = {169--178},
  month     = may,
  year      = 2011,
  doi       = {10.1109/CSEET.2011.5876084},
  location  = {Honolulu, HI, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Recovering traceability links between source code and fixed bugs via patch analysis</span><br>
            <span class="pub-author">C.S. Corley, N.A. Kraft, L.H. Etzkorn, S.K. Lukins</span><br>
            <span class="pub-venue">6th International Workshop on Traceability in Emerging Forms of Software Engineering (TEFSE'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1145/1987856.1987863" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Corley_etal:2011,
  author    = {C.S. Corley and N.A. Kraft and L.H. Etzkorn and S.K. Lukins},
  title     = {Recovering traceability links between source code and fixed bugs via patch analysis},
  booktitle = {Proceedings of the 6th International Workshop on Traceability in Emerging Forms of Software Engineering (TEFSE'11)},
  pages     = {31--37},
  month     = may,
  year      = 2011,
  doi       = {10.1145/1987856.1987863},
  location  = {Honolulu, HI, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">On the need for human-based empirical validation of techniques and tools for code clone analysis</span><br>
            <span class="pub-author">Jeffrey Carver, D. Chatterji, N.A. Kraft</span><br>
            <span class="pub-venue">5th International Workshop on Software Clones (IWSC'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1145/1985404.1985416" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Carver_etal:2011,
  author    = {Jeffrey Carver and D. Chatterji and N.A. Kraft},
  title     = {On the need for human-based empirical validation of techniques and tools for code clone analysis},
  booktitle = {Proceedings of the 5th International Workshop on Software Clones (IWSC'11)},
  pages     = {61--62},
  month     = may,
  year      = 2011,
  doi       = {10.1145/1985404.1985416},
  location  = {Honolulu, HI, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Using Executable Slicing to Improve Rogue Software Detection Algorithms</span><br>
            <span class="pub-author">J. Durand, J. Flores, T. Atkison, N.A. Kraft, R.K. Smith</span><br>
            <span class="pub-venue">International Journal of Secure Software Engineering</span><br>
        </div>
        <a href="http://dx.doi.org/10.4018/jsse.2011040103" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Durand_etal:2011,
  author    = {J. Durand and J. Flores and T. Atkison and N.A. Kraft and R.K. Smith},
  title     = {Using Executable Slicing to Improve Rogue Software Detection Algorithms},
  journal   = {International Journal of Secure Software Engineering},
  volume    = 2,
  number    = 2,
  pages     = {53--64},
  month     = apr # "\slash " # jun,
  year      = 2011,
  doi       = {10.4018/jsse.2011040103},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Toward an understanding of the relationship between the identifier and comment lexicons</span><br>
            <span class="pub-author">B.P. Eddy, N.A. Kraft</span><br>
            <span class="pub-venue">49th Annual Southeast Regional Conference (ACM-SE'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1145/2016039.2016138" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Eddy_Kraft:2011,
  author    = {B.P. Eddy and N.A. Kraft},
  title     = {Toward an understanding of the relationship between the identifier and comment lexicons},
  booktitle = {Proceedings of the 49th Annual Southeast Regional Conference (ACM-SE'11)},
  pages     = {342--343},
  month     = mar,
  year      = 2011,
  doi       = {10.1145/2016039.2016138},
  location  = {Kennesaw, GA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Quantifying the similiarities between source code lexicons</span><br>
            <span class="pub-author">L.R. Biggers, N.A. Kraft</span><br>
            <span class="pub-venue">49th Annual Southeast Regional Conference (ACM-SE'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1145/2016039.2016067" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Biggers_Kraft:2011,
  author    = {L.R. Biggers and N.A. Kraft},
  title     = {Quantifying the similiarities between source code lexicons},
  booktitle = {Proceedings of the 49th Annual Southeast Regional Conference (ACM-SE'11)},
  pages     = {80--85},
  month     = mar,
  year      = 2011,
  doi       = {10.1145/2016039.2016067},
  location  = {Kennesaw, GA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Patrol Routing Expression, Execution, Evaluation, and Engagement</span><br>
            <span class="pub-author">D.A. Steil, J.R. Pate, N.A. Kraft, R.K. Smith, B. Dixon, L. Ding, A. Parrish</span><br>
            <span class="pub-venue">IEEE Transactions on Intelligent Transportation Systems</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/TITS.2010.2065224" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Steil_etal:2011,
  author    = {D.A. Steil and J.R. Pate and N.A. Kraft and R.K. Smith and B. Dixon and L. Ding and A. Parrish},
  title     = {Patrol Routing Expression, Execution, Evaluation, and Engagement},
  journal   = {IEEE Transactions on Intelligent Transportation Systems},
  volume    = 12,
  number    = 1,
  pages     = {58--72},
  month     = mar,
  year      = 2011,
  doi       = {10.1109/TITS.2010.2065224},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2010</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Bug localization using latent Dirichlet allocation</span><br>
            <span class="pub-author">S.K. Lukins, N.A. Kraft, L.H. Etzkorn</span><br>
            <span class="pub-venue">Information and Software Technology</span><br>
        </div>
        <a href="http://dx.doi.org/10.1016/j.infsof.2010.04.002" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Lukins_etal:2010,
  author    = {S.K. Lukins and N.A. Kraft and L.H. Etzkorn},
  title     = {Bug localization using latent {D}irichlet allocation},
  journal   = {Information and Software Technology},
  volume    = 52,
  number    = 9,
  pages     = {972--990},
  month     = sep,
  year      = 2010,
  doi       = {10.1016/j.infsof.2010.04.002},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2009</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Grammar Recovery from Parse Trees and Metrics-Guided Grammar Refactoring</span><br>
            <span class="pub-author">N.A. Kraft, E.B. Duffy, B.A. Malloy</span><br>
            <span class="pub-venue">IEEE Transactions on Software Engineering</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/TSE.2009.65" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Kraft_etal:2009,
  author    = {N.A. Kraft and E.B. Duffy and B.A. Malloy},
  title     = {Grammar Recovery from Parse Trees and Metrics-Guided Grammar Refactoring},
  journal   = {IEEE Transactions on Software Engineering},
  volume    = 35,
  number    = 6,
  pages     = {780--794},
  month     = nov # "\slash " # dec,
  year      = 2009,
  doi       = {10.1109/TSE.2009.65},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Cyclomatic Complexity and Lines of Code: Empirical Evidence of a Stable Linear Relationship</span><br>
            <span class="pub-author">G. Jay, J. Hale, R.K. Smith, D. Hale, N.A. Kraft, C. Ward</span><br>
            <span class="pub-venue">Journal of Software Engineering and Applications</span><br>
        </div>
        <a href="http://dx.doi.org/10.4236/jsea.2009.23020" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Jay_etal:2009,
  author    = {G. Jay and J. Hale and R.K. Smith and D. Hale and N.A. Kraft and C. Ward},
  title     = {Cyclomatic Complexity and Lines of Code: Empirical Evidence of a Stable Linear Relationship},
  journal   = {Journal of Software Engineering and Applications},
  volume    = 2,
  number    = 3,
  pages     = {137--143},
  month     = oct,
  year      = 2009,
  doi       = {10.4236/jsea.2009.23020},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Automatic Class Matching to Compare Extracted Class Diagrams: Approach and Case Study</span><br>
            <span class="pub-author">Y. Liang, N.A. Kraft, R.K. Smith</span><br>
            <span class="pub-venue">21th International Conference on Software Engineering and Knowledge Engineering (SEKE'09)</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Liang_etal:2009,
  author    = {Y. Liang and N.A. Kraft and R.K. Smith},
  title     = {Automatic Class Matching to Compare Extracted Class Diagrams: Approach and Case Study},
  booktitle = {Proceedings of the 21th International Conference on Software Engineering and Knowledge Engineering (SEKE'09)},
  pages     = {268--273},
  month     = jul,
  year      = 2009,
  location  = {Boston, MA, USA},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2008</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Source Code Retrieval for Bug Localization Using Latent Dirichlet Allocation</span><br>
            <span class="pub-author">S.K. Lukins, N.A. Kraft, L.H. Etzkorn</span><br>
            <span class="pub-venue">15th Working Conference on Reverse Engineering (WCRE'08)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/WCRE.2008.33" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Lukins_etal:2008,
  author    = {S.K. Lukins and N.A. Kraft and L.H. Etzkorn},
  title     = {Source Code Retrieval for Bug Localization Using Latent Dirichlet Allocation},
  booktitle = {Proceedings of the 15th Working Conference on Reverse Engineering (WCRE'08)},
  pages     = {155--164},
  month     = oct,
  year      = 2008,
  doi       = {10.1109/WCRE.2008.33},
  location  = {Antwerp, Belgium},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Evaluating the Accuracy of Call Graphs Extracted with the Eclipse CDT</span><br>
            <span class="pub-author">N.A. Kraft, K.S. Webb</span><br>
            <span class="pub-venue">20th International Conference on Software Engineering and Knowledge Engineering (SEKE'08)</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Kraft_Webb:2008,
  author    = {N.A. Kraft and K.S. Webb},
  title     = {Evaluating the Accuracy of Call Graphs Extracted with the Eclipse {CDT}},
  booktitle = {Proceedings of the 20th International Conference on Software Engineering and Knowledge Engineering (SEKE'08)},
  pages     = {85--90},
  month     = jul,
  year      = 2008,
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Cross-Language Clone Detection</span><br>
            <span class="pub-author">N.A. Kraft, B.W. Bonds, R.K. Smith</span><br>
            <span class="pub-venue">20th International Conference on Software Engineering and Knowledge Engineering (SEKE'08)</span><br>
        </div>
        <a href="/publications/Kraft_etal_2008.pdf" class="btn btn-link btn-sm" role="button">PDF</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Kraft_etal:2008,
  author    = {N.A. Kraft and B.W. Bonds and R.K. Smith},
  title     = {Cross-Language Clone Detection},
  booktitle = {Proceedings of the 20th International Conference on Software Engineering and Knowledge Engineering (SEKE'08)},
  pages     = {54--59},
  month     = jul,
  year      = 2008,
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2007</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">A tool chain for reverse engineering C++ applications</span><br>
            <span class="pub-author">N.A. Kraft, B.A. Malloy, J.F. Power</span><br>
            <span class="pub-venue">Science of Computer Programming (Special Issue on Experimental Software and Toolkits)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1016/j.scico.2007.01.012" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Kraft_etal:2007b,
  author    = {N.A. Kraft and B.A. Malloy and J.F. Power},
  title     = {A tool chain for reverse engineering {C++} applications},
  journal   = {Science of Computer Programming (Special Issue on Experimental Software and Toolkits)},
  volume    = 69,
  number    = {1--3},
  pages     = {3--13},
  month     = dec,
  year      = 2007,
  doi       = {10.1016/j.scico.2007.01.012},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">An infrastructure to support interoperability in reverse engineering</span><br>
            <span class="pub-author">N.A. Kraft, B.A. Malloy, J.F. Power</span><br>
            <span class="pub-venue">Information and Software Technology</span><br>
        </div>
        <a href="http://dx.doi.org/10.1016/j.infsof.2006.10.014" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Kraft_etal:2007a,
  author    = {N.A. Kraft and B.A. Malloy and J.F. Power},
  title     = {An infrastructure to support interoperability in reverse engineering},
  journal   = {Information and Software Technology},
  volume    = 49,
  number    = 3,
  pages     = {292--307},
  month     = mar,
  year      = 2007,
  doi       = {10.1016/j.infsof.2006.10.014},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">The implementation of an extensible system for comparison and visualization of class ordering methodologies</span><br>
            <span class="pub-author">N.A. Kraft, E.L. Lloyd, B.A. Malloy, P.J. Clarke</span><br>
            <span class="pub-venue">Journal of Systems and Software</span><br>
        </div>
        <a href="http://dx.doi.org/10.1016/j.jss.2005.10.019" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Kraft_etal:2006,
  author    = {N.A. Kraft and E.L. Lloyd and B.A. Malloy and P.J. Clarke},
  title     = {The implementation of an extensible system for comparison and visualization of class ordering methodologies},
  journal   = {Journal of Systems and Software},
  volume    = 79,
  number    = 8,
  pages     = {1092--1109},
  month     = aug,
  year      = 2006,
  doi       = {10.1016/j.jss.2005.10.019},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2006</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">3D Visualization of Class Template Diagrams for Deployed Open Source Applications</span><br>
            <span class="pub-author">B.N. Hoipkemier, N.A. Kraft, B.A. Malloy</span><br>
            <span class="pub-venue">18th International Conference on Software Engineering and Knowledge Engineering (SEKE'06)</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Hoipkemier_etal:2006,
  author    = {B.N. Hoipkemier and N.A. Kraft and B.A. Malloy},
  title     = {3D Visualization of Class Template Diagrams for Deployed Open Source Applications},
  booktitle = {Proceedings of the 18th International Conference on Software Engineering and Knowledge Engineering (SEKE'06)},
  pages     = {232--235},
  month     = jul,
  year      = 2006,
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Improving the Predictable Assembly of Service-Oriented Architectures</span><br>
            <span class="pub-author">B.A. Malloy, N.A. Kraft, J.O. Hallstrom, J.M. Voas</span><br>
            <span class="pub-venue">IEEE Software</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/MS.2006.49" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Malloy_etal:2006,
  author    = {B.A. Malloy and N.A. Kraft and J.O. Hallstrom and J.M. Voas},
  title     = {Improving the Predictable Assembly of Service-Oriented Architectures},
  journal   = {IEEE Software},
  volume    = 23,
  number    = 2,
  pages     = {12--15},
  month     = mar # "\slash " # apr,
  year      = 2006,
  doi       = {10.1109/MS.2006.49},
}
</pre>
        </div>
    </div>
</div>

<div class="row header">
    <div class="col-pub-header">2005</div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Toward an Infrastructure to Support Interoperability in Reverse Engineering</span><br>
            <span class="pub-author">N.A. Kraft, B.A. Malloy, J.F. Power</span><br>
            <span class="pub-venue">12th Working Conference on Reverse Engineering (WCRE'12)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/WCRE.2005.32" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Kraft_etal:2005a,
  author    = {N.A. Kraft and B.A. Malloy and J.F. Power},
  title     = {Toward an Infrastructure to Support Interoperability in Reverse Engineering},
  booktitle = {Proceedings of the 12th Working Conference on Reverse Engineering (WCRE'12)},
  pages     = {196--205},
  month     = nov,
  year      = 2005,
  doi       = {10.1109/WCRE.2005.32},
  location  = {Pittsburgh, PA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">g4re: Harnessing GCC to Reverse Engineer C++ Applications</span><br>
            <span class="pub-author">N.A. Kraft, B.A. Malloy, J.F. Power</span><br>
            <span class="pub-venue">Transformation Techniques in Software Engineering</span><br>
        </div>
        <a href="http://drops.dagstuhl.de/opus/volltexte/2006/424" class="btn btn-link btn-sm" role="button">URL</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Kraft_etal:2005b,
  author    = {N.A. Kraft and B.A. Malloy and J.F. Power},
  title     = {g4re: Harnessing {GCC} to Reverse Engineer C++ Applications},
  booktitle = {Transformation Techniques in Software Engineering},
  series    = {Dagstuhl Seminar Proceedings},
  number    = 05161,
  month     = apr,
  year      = 2005,
  url       = {http://drops.dagstuhl.de/opus/volltexte/2006/424},
  location  = {Dagstuhl, Germany},
}
</pre>
        </div>
    </div>
</div>
