<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Reducing Interruptions at Work: A Large-Scale Field Study of FlowLight</span><br>
            <span class="pub-author">M. Züger, C.S. Corley, A.N. Meyer, B. Li, T. Fritz, D. Shepherd, V. Augustine, P. Francis, N.A. Kraft, W. Snipes</span><br>
            <span class="pub-venue">35th ACM CHI Conference on Human Factors in Computing Systems (CHI'17)</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Zuger_etal:2017,
  author    = {M. Züger and C.S. Corley and A.N. Meyer and B. Li and T. Fritz and D. Shepherd and V. Augustine and P. Francis and N.A. Kraft and W. Snipes},
  title     = {Reducing Interruptions at Work: A Large-Scale Field Study of FlowLight},
  booktitle = {Proceedings of the 35th ACM CHI Conference on Human Factors in Computing Systems (CHI'17)},
  month     = may,
  year      = 2017,
  location  = {Denver, CO, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">What Information about Code Snippets Is Available in Different Software-Related Documents? An Exploratory Study</span><br>
            <span class="pub-author">P. Chatterjee, M.A. Nishi, K. Damevski, V. Augustine, L. Pollock, N.A. Kraft</span><br>
            <span class="pub-venue">24th IEEE International Conference on Software Analysis, Evolution, and Reengineering (SANER'17)</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Chatterjee_etal:2017,
  author    = {P. Chatterjee and M.A. Nishi and K. Damevski and V. Augustine and L. Pollock and N.A. Kraft},
  title     = {What Information about Code Snippets Is Available in Different Software-Related Documents? An Exploratory Study},
  booktitle = {Proceedings of the 24th IEEE International Conference on Software Analysis, Evolution, and Reengineering (SANER'17)},
  month     = feb,
  year      = 2017,
  location  = {Klagenfurt, Austria},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">How Practitioners Perceive the Relevance of ESEM Research</span><br>
            <span class="pub-author">J. Carver, O. Dieste, N.A. Kraft, D. Lo, T. Zimmermann</span><br>
            <span class="pub-venue">10th ACM/IEEE International Symposium on Empirical Software Engineering and Measurement (ESEM'16)</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Singh_etal:2016,
  author    = {J. Carver and O. Dieste and N.A. Kraft and D. Lo and T. Zimmermann},
  title     = {How Practitioners Perceive the Relevance of ESEM Research},
  booktitle = {Proceedings of the 10th ACM/IEEE International Symposium on Empirical Software Engineering and Measurement (ESEM'16)},
  month     = sep,
  year      = 2016,
  location  = {Ciudad Real, Spain},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">A Case Study of Program Comprehension Effort and Technical Debt Estimations</span><br>
            <span class="pub-author">V. Singh, L. Pollock, W. Snipes, N.A. Kraft</span><br>
            <span class="pub-venue">24th IEEE International Conference on Program Comprehension (ICPC'16)</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Singh_etal:2016,
  author    = {V. Singh and L. Pollock and W. Snipes and N.A. Kraft},
  title     = {A Case Study of Program Comprehension Effort and Technical Debt Estimations},
  booktitle = {Proceedings of the 24th IEEE International Conference on Program Comprehension (ICPC'16)},
  month     = may,
  year      = 2016,
  location  = {Austin, TX, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Code Drones</span><br>
            <span class="pub-author">M. Acharya, C. Parnin, N.A. Kraft, A. Dagnino, X. Qu</span><br>
            <span class="pub-venue">38th ACM/IEEE International Conference on Software Engineering (ICSE'16) &mdash; V2025 Track</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Acharya_etal:2016,
  author    = {M. Acharya and C. Parnin and N.A. Kraft and A. Dagnino and X. Qu},
  title     = {Code Drones},
  booktitle = {Proceedings of the 38th ACM/IEEE International Conference on Software Engineering (ICSE'16)},
  month     = may,
  year      = 2016,
  location  = {Austin, TX, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Automatically Documenting Unit Test Cases</span><br>
            <span class="pub-author">B. Li, C. Vendome, M. Linares-Vasquez, D. Poshyvanyk, N.A. Kraft</span><br>
            <span class="pub-venue">9th IEEE International Conference on Software Testing, Verification, and Validation (ICST'16)</span><br>
        </div>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Li_etal:2016,
  author    = {B. Li and C. Vendome and M. Linares-Vasquez and D. Poshyvanyk and N.A. Kraft},
  title     = {Automatically Documenting Unit Test Cases},
  booktitle = {Proceedings of the 9th IEEE International Conference on Software Testing, Verification, and Validation (ICST'16)},
  month     = apr,
  year      = 2016,
  location  = {Chicago, IL, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Code Clones and Developer Behavior: Results of Two Surveys of the Clone Research Community</span><br>
            <span class="pub-author">D. Chatterji, J.C. Carver, N.A. Kraft</span><br>
            <span class="pub-venue">Empirical Software Engineering</span><br>
        </div>
        <a href="http://dx.doi.org/10.1007/s10664-015-9394-4" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Chatterji_etal:2015,
  author    = {D. Chatterji and J.C. Carver and and N.A. Kraft},
  title     = {Code Clones and Developer Behavior: Results of Two Surveys of the Clone Research Community},
  journal   = {Empirical Software Engineering},
  year      = 2015,
  doi       = {10.1007/s10664-015-9394-4},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Modeling Changeset Topics for Feature Location</span><br>
            <span class="pub-author">C.S. Corley, K.L. Kashuda, N.A. Kraft</span><br>
            <span class="pub-venue">31st IEEE International Conference on Software Maintenance and Evolution (ICSME'15)</span><br>
        </div>
        <a href="http://christop.club/publications/pdfs/Corley-etal_2015.pdf" class="btn btn-link btn-sm" role="button">PDF</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Corley_etal:2015,
  author    = {C.S. Corley and K.L. Kashuda and N.A. Kraft},
  title     = {Modeling Changeset Topics for Feature Location},
  booktitle = {Proceedings of the 31st IEEE International Conference on Software Maintenance and Evolution (ICSME'15)},
  month     = sep # "\slash " # oct,
  year      = 2015,
  location  = {Bremen, Germany},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Exploring the Use of Deep Learning for Feature Location</span><br>
            <span class="pub-author">C.S. Corley, K. Damevski, N.A. Kraft</span><br>
            <span class="pub-venue">31st IEEE International Conference on Software Maintenance and Evolution (ICSME'15) &mdash; ERA Track</span><br>
        </div>
        <a href="http://christop.club/publications/pdfs/Corley-etal_2015a.pdf" class="btn btn-link btn-sm" role="button">PDF</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Corley_etal:2015a,
  author    = {C.S. Corley and K. Damevski and N.A. Kraft},
  title     = {Exploring the Use of Deep Learning for Feature Location},
  booktitle = {Proceedings of the 31st IEEE International Conference on Software Maintenance and Evolution (ICSME'15)},
  month     = sep # "\slash " # oct,
  year      = 2015,
  location  = {Bremen, Germany},
}
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Using Structured Queries for Source Code Search</span><br>
            <span class="pub-author">B.P. Eddy, N.A. Kraft</span><br>
            <span class="pub-venue">30th IEEE International Conference on Software Maintenance and Evolution (ICSME'14) &mdash; ERA Track</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICSME.2014.68" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Eddy_Kraft:2014,
  author    = {B.P. Eddy and N.A. Kraft},
  title     = {Using Structured Queries for Source Code Search},
  booktitle = {Proceedings of the 30th IEEE International Conference on Software Maintenance and Evolution (ICSME'14)},
  pages     = {431--435},
  month     = sep # "\slash " # oct,
  year      = 2014,
  doi       = {10.1109/ICSME.2014.68},
  location  = {Victoria, BC, Canada},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Configuring latent Dirichlet allocation based feature location</span><br>
            <span class="pub-author">L.R. Biggers, C. Bocovich, R. Capshaw, B.P. Eddy, L.H. Etzkorn, N.A. Kraft</span><br>
            <span class="pub-venue">Empirical Software Engineering</span><br>
        </div>
        <a href="http://dx.doi.org/10.1007/s10664-012-9224-x" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Biggers_etal:2014,
  author    = {L.R. Biggers and C. Bocovich and R. Capshaw and B.P. Eddy and L.H. Etzkorn and N.A. Kraft},
  title     = {Configuring latent {D}irichlet allocation based feature location},
  journal   = {Empirical Software Engineering},
  volume    = 19,
  number    = 3,
  pages     = {465--500},
  month     = jun,
  year      = 2014,
  doi       = {10.1007/s10664-012-9224-x},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">New features for duplicate bug detection</span><br>
            <span class="pub-author">N. Klein, C.S. Corley, N.A. Kraft</span><br>
            <span class="pub-venue">11th Working Conference on Mining Software Repositories (MSR'14)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1145/2597073.2597090" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Klein_etal:2014,
  author    = {N. Klein and C.S. Corley and N.A. Kraft},
  title     = {New features for duplicate bug detection},
  booktitle = {Proceedings of the 11th Working Conference on Mining Software Repositories (MSR'14)},
  pages     = {324--327},
  month     = may # "\slash " # jun,
  year      = 2014,
  doi       = {10.1145/2597073.2597090},
  location  = {Hyderabad, India},
}
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Effects of cloned code on software maintainability: A replicated developer study</span><br>
            <span class="pub-author">D. Chatterji, J.C. Carver, N.A. Kraft, J. Harder</span><br>
            <span class="pub-venue">20th Working Conference on Reverse Engineering (WCRE'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/WCRE.2013.6671286" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Chatterji_etal:2013a,
  author    = {D. Chatterji and J.C. Carver and N.A. Kraft and J. Harder},
  title     = {Effects of cloned code on software maintainability: A replicated developer study},
  booktitle = {Proceedings of the 20th Working Conference on Reverse Engineering (WCRE'13)},
  pages     = {112--121},
  month     = oct,
  year      = 2013,
  doi       = {10.1109/WCRE.2013.6671286},
  location  = {Koblenz, Germany},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Identifying Barriers to the Systematic Literature Review Process</span><br>
            <span class="pub-author">J.C. Carver, E. Hassler, E. Hernandes, N.A. Kraft</span><br>
            <span class="pub-venue">7th ACM/IEEE International Symposium on Empirical Software Engineering and Measurement (ESEM'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ESEM.2013.28" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Carver_etal:2013,
  author    = {J.C. Carver and E. Hassler and E. Hernandes and N.A. Kraft},
  title     = {Identifying Barriers to the Systematic Literature Review Process},
  booktitle = {Proceedings of the 7th ACM/IEEE International Symposium on Empirical Software Engineering and Measurement (ESEM'13)},
  pages     = {203--212},
  month     = oct,
  year      = 2013,
  doi       = {10.1109/ESEM.2013.28},
  location  = {Baltimore, MD, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Structural information based term weighting in text retrieval for feature location</span><br>
            <span class="pub-author">B. Bassett, N.A. Kraft</span><br>
            <span class="pub-venue">21st IEEE International Conference on Program Comprehension (ICPC'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICPC.2013.6613841" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Bassett_Kraft:2013,
  author    = {B. Bassett and N.A. Kraft},
  title     = {Structural information based term weighting in text retrieval for feature location},
  booktitle = {Proceedings of the 21st IEEE International Conference on Program Comprehension (ICPC'13)},
  pages     = {133--141},
  month     = may,
  year      = 2013,
  doi       = {10.1109/ICPC.2013.6613841},
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Evaluating source code summarization techniques: Replication and expansion</span><br>
            <span class="pub-author">B.P. Eddy, J.A. Robinson, N.A. Kraft, J.C. Carver</span><br>
            <span class="pub-venue">21st IEEE International Conference on Program Comprehension (ICPC'13)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICPC.2013.6613829" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Eddy_etal:2013,
  author    = {B.P. Eddy and J.A. Robinson and N.A. Kraft and J.C. Carver},
  title     = {Evaluating source code summarization techniques: Replication and expansion},
  booktitle = {Proceedings of the 21st IEEE International Conference on Program Comprehension (ICPC'13)},
  pages     = {13--22},
  month     = may,
  year      = 2013,
  doi       = {10.1109/ICPC.2013.6613829},
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Clone evolution: a systematic review</span><br>
            <span class="pub-author">J.R. Pate, R. Tairas, N.A. Kraft</span><br>
            <span class="pub-venue">Journal of Software: Evolution and Process</span><br>
        </div>
        <a href="http://dx.doi.org/10.1002/smr.579" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Pate_etal:2013,
  author    = {J.R. Pate and R. Tairas and N.A. Kraft},
  title     = {Clone evolution: a systematic review},
  journal   = {Journal of Software: Evolution and Process},
  volume    = 25,
  number    = 3,
  pages     = {261--283},
  month     = mar,
  year      = 2013,
  doi       = {10.1002/smr.579},
}
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Modeling the ownership of source code topics</span><br>
            <span class="pub-author">C.S. Corley, E.A. Kammer, N.A. Kraft</span><br>
            <span class="pub-venue">20th IEEE International Conference on Program Comprehension (ICPC'12)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICPC.2012.6240485" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Corley_etal:2012,
  author    = {C.S. Corley and E.A. Kammer and N.A. Kraft},
  title     = {Modeling the ownership of source code topics},
  booktitle = {Proceedings of the 20th IEEE International Conference on Program Comprehension (ICPC'12)},
  pages     = {173--182},
  month     = jun,
  year      = 2012,
  doi       = {10.1109/ICPC.2012.6240485},
  location  = {Passau, Germany},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Claims and beliefs about code clones: Do we agree as a community? A survey</span><br>
            <span class="pub-author">D. Chatterji, J.C. Carver, N.A. Kraft</span><br>
            <span class="pub-venue">6th International Workshop on Software Clones (IWSC'12)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/IWSC.2012.6227860" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Chatterji_etal:2012,
  author    = {D. Chatterji and J.C. Carver and N.A. Kraft},
  title     = {Claims and beliefs about code clones: Do we agree as a community? A survey},
  booktitle = {Proceedings of the 6th International Workshop on Software Clones (IWSC'12)},
  pages     = {15--21},
  month     = jun,
  year      = 2012,
  doi       = {10.1109/IWSC.2012.6227860},
  location  = {Zurich, Switzerland},
}
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Toward a metrics suite for source code lexicons</span><br>
            <span class="pub-author">L.R. Biggers, B.P. Eddy, N.A. Kraft, L.H. Etzkorn</span><br>
            <span class="pub-venue">27th IEEE International Conference on Software Maintenance (ICSM'11) &mdash; ERA Track</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ICSM.2011.6080816" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Biggers_etal:2011,
  author    = {L.R. Biggers and B.P. Eddy and N.A. Kraft and L.H. Etzkorn},
  title     = {Toward a metrics suite for source code lexicons},
  booktitle = {Proceedings of the 27th IEEE International Conference on Software Maintenance (ICSM'11)},
  pages     = {492--495},
  month     = sep,
  year      = 2011,
  doi       = {10.1109/ICSM.2011.6080816},
  location  = {Williamsburg, VA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Measuring the Efficacy of Code Clone Information in a Bug Localization Task: An Empirical Study</span><br>
            <span class="pub-author">D. Chatterji, J.C. Carver, B. Massengil, J. Oslin, N.A. Kraft</span><br>
            <span class="pub-venue">5th International Symposium on Empirical Software Engineering and Measurement (ESEM'11)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/ESEM.2011.10" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Chatterji_etal:2011,
  author    = {D. Chatterji and J.C. Carver and B. Massengil and J. Oslin and N.A. Kraft},
  title     = {Measuring the Efficacy of Code Clone Information in a Bug Localization Task: An Empirical Study},
  booktitle = {Proceedings of the 5th International Symposium on Empirical Software Engineering and Measurement (ESEM'11)},
  pages     = {20--29},
  month     = sep,
  year      = 2011,
  doi       = {10.1109/ESEM.2011.10},
  location  = {Banff, AB, Canada},
}
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Bug localization using latent Dirichlet allocation</span><br>
            <span class="pub-author">S.K. Lukins, N.A. Kraft, L.H. Etzkorn</span><br>
            <span class="pub-venue">Information and Software Technology</span><br>
        </div>
        <a href="http://dx.doi.org/10.1016/j.infsof.2010.04.002" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Lukins_etal:2010,
  author    = {S.K. Lukins and N.A. Kraft and L.H. Etzkorn},
  title     = {Bug localization using latent {D}irichlet allocation},
  journal   = {Information and Software Technology},
  volume    = 52,
  number    = 9,
  pages     = {972--990},
  month     = sep,
  year      = 2010,
  doi       = {10.1016/j.infsof.2010.04.002},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Grammar Recovery from Parse Trees and Metrics-Guided Grammar Refactoring</span><br>
            <span class="pub-author">N.A. Kraft, E.B. Duffy, B.A. Malloy</span><br>
            <span class="pub-venue">IEEE Transactions on Software Engineering</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/TSE.2009.65" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Kraft_etal:2009,
  author    = {N.A. Kraft and E.B. Duffy and B.A. Malloy},
  title     = {Grammar Recovery from Parse Trees and Metrics-Guided Grammar Refactoring},
  journal   = {IEEE Transactions on Software Engineering},
  volume    = 35,
  number    = 6,
  pages     = {780--794},
  month     = nov # "\slash " # dec,
  year      = 2009,
  doi       = {10.1109/TSE.2009.65},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Source Code Retrieval for Bug Localization Using Latent Dirichlet Allocation</span><br>
            <span class="pub-author">S.K. Lukins, N.A. Kraft, L.H. Etzkorn</span><br>
            <span class="pub-venue">15th Working Conference on Reverse Engineering (WCRE'08)</span><br>
        </div>
        <a href="http://dx.doi.org/10.1109/WCRE.2008.33" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Lukins_etal:2008,
  author    = {S.K. Lukins and N.A. Kraft and L.H. Etzkorn},
  title     = {Source Code Retrieval for Bug Localization Using Latent Dirichlet Allocation},
  booktitle = {Proceedings of the 15th Working Conference on Reverse Engineering (WCRE'08)},
  pages     = {155--164},
  month     = oct,
  year      = 2008,
  doi       = {10.1109/WCRE.2008.33},
  location  = {Antwerp, Belgium},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">Cross-Language Clone Detection</span><br>
            <span class="pub-author">N.A. Kraft, B.W. Bonds, R.K. Smith</span><br>
            <span class="pub-venue">20th International Conference on Software Engineering and Knowledge Engineering (SEKE'08)</span><br>
        </div>
        <a href="/publications/Kraft_etal_2008.pdf" class="btn btn-link btn-sm" role="button">PDF</a>
        <div class="pub-bibtex hidden">
<pre>@inproceedings{Kraft_etal:2008,
  author    = {N.A. Kraft and B.W. Bonds and R.K. Smith},
  title     = {Cross-Language Clone Detection},
  booktitle = {Proceedings of the 20th International Conference on Software Engineering and Knowledge Engineering (SEKE'08)},
  pages     = {54--59},
  month     = jul,
  year      = 2008,
  location  = {San Francisco, CA, USA},
}
</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-pub">
        <div class="pub-html">
            <span class="pub-title">An infrastructure to support interoperability in reverse engineering</span><br>
            <span class="pub-author">N.A. Kraft, B.A. Malloy, J.F. Power</span><br>
            <span class="pub-venue">Information and Software Technology</span><br>
        </div>
        <a href="http://dx.doi.org/10.1016/j.infsof.2006.10.014" class="btn btn-link btn-sm" role="button">DOI</a>
        <div class="pub-bibtex hidden">
<pre>@article{Kraft_etal:2007a,
  author    = {N.A. Kraft and B.A. Malloy and J.F. Power},
  title     = {An infrastructure to support interoperability in reverse engineering},
  journal   = {Information and Software Technology},
  volume    = 49,
  number    = 3,
  pages     = {292--307},
  month     = mar,
  year      = 2007,
  doi       = {10.1016/j.infsof.2006.10.014},
}
</pre>
        </div>
    </div>
</div>

